<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{jirarush.passwordreset.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{jirarush.emailconfirmation.hello(${user.firstName})}"/>
<p th:text="#{jirarush.passwordreset.instruction(${user.email})} "/>
<a th:text="#{jirarush.passwordreset.setpass}" th:href="${resetUrl}">Установить пароль</a>
</body>
</html>